.app1 {

  width: 99vw;
  display: flex;
  justify-content: center;
}
.header{
  text-align: center;
}
#app {
  display: flex;
}
.box{
  height: 100px;
  width: 100px;
  border: 5px solid black;
}

.column {
  display: inline-block;
  width: 100px;
}

.popup {
  display: none;
  position: fixed;
  background-color: lightblue;
  left: calc(50% - 250px);
  top: 30%;
  width: 500px;
  height: 300px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  display: block;
  width: 150px;
  background-color: aqua;
  height: 25px;
}

.text {
  display: block;
  font-size: 50px;
}

.center {
  display: block;
}
